<button type="button" class="nav__btn js-nav-btn"><span></span></button>
<nav class="nav">
    <div class="nav__inner">
        <div class="services__logo"></div>
        <ul class="nav__list">
            <li><a href="index.html">Главная</a></li>
            <li><a href="index.html#id-1">Услуги</a></li>
            <li><a href="resources.html">Ресурсы</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>

        <button type="button" class="btn btn-outline-dark">Скачать презентацию</button>
        <button type="button" class="btn btn-outline-dark js-feedback">Оставить заявку</button>
    </div>
</nav>